.stocks-container {
  width: 50%;
  background-color: black;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.not-found {
  color: white;
}

button {
  background-color: green;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  width: 50px;
  border: 1px solid white;
}

button:disabled {
  color: black;
  border: 1px solid transparent;
}

.button-stop {
  background-color: red;
}

.buttons-container {
  margin: 20px 0;
}
