.hidden_ticker {
  margin: 0 10px;
  cursor: pointer;
  color: red;
}

section {
  border-top: 1px solid white;
  margin: 10px 0;
}

h3 {
  color: white;
  margin-top: 5px;
}

.tickers {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
